// roles
.role-edit-header {
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;

    h4 {
        margin: 8px;
    }
}

.roles-back {
    font-size: 1.35rem;

    .fas {
        margin: 8px;
        line-height: 1.2;
    }
}

// profile
.profile {
    .card-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .card-body:not(:last-child) {
        padding-bottom: 0;
    }

    .profile-item {

        .profile-item-title {
        }

        .profile-item-text {
            color: #6c757d;
        }
    }
}

.profiles-table {
    .date-of-birth {
        min-width: 80px;
    }
}

.no-avatar {
    font-size: 8rem;
    color: gray;
}

// pages
.wysiwyg-editor {
    min-height: 60vh;
}

// misc
.no-image {
    padding: 7px 0;
    line-height: 1.6;
}

// TODO: Make these responsive
.edit-car-image {
    width: 50%;
    border-radius: 5px;
}

.edit-logo-image {
    width: 50%;
    border-radius: 5px;
}

.edit-avatar-image {
    width: 40%;
    border-radius: 5px;
}

.edit-slide-image {
    width: 100%;
    border-radius: 5px;
}
