// roles
.role-edit-header {
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;

    h4 {
        margin: 8px;
    }
}

.roles-back {
    font-size: 1.35rem;

    .fas {
        margin: 8px;
        line-height: 1.2;
    }
}

// profile
.profile {
    .card-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .card-body:not(:last-child) {
        padding-bottom: 0;
    }

    .profile-item {

        .profile-item-title {
        }

        .profile-item-text {
            color: #6c757d;
        }
    }
}

.profiles-table {
    .date-of-birth {
        min-width: 80px;
    }
}

// pages
.wysiwyg-editor {
    min-height: 60vh;
}
