footer {
    .top-footer {
        background-color: #211d51;
        width: 1100px;
        margin: 0 auto;
        color: white;
        padding: 15px;
    }

    .bottom-footer {
        width: 1100px;
        background-color: #004592;
        margin: 0 auto;
        color: white;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    a {
        color: white;
    }
}
