html, body {
    height: 100%;
}

.user-body {
    background-image: url(/images/background_filler.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

.home {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: white;
    // width: 1100px;
    padding: 0;
    margin: 0 auto;
    top: 0;

    .navbar {
        flex-shrink: 0;
    }

    .content {
        flex: 1 0 auto;
    }

    footer {
        flex-shrink: 0;
    }
}

// header
.navbar {
  border-bottom: solid 3px #211d51;
  padding: 0;

  .navbar-toggler {
    margin-right: 10px;
  }

  .navbar-brand img {
    height: 50px;
    margin-left: 15px;
  }

  @include media-breakpoint-up(md) {
    .navbar-nav {
      padding-right: 50px;

      .nav-item .nav-link {
          line-height: 46px;
      }
    }
  }

  .navbar-nav {
    .nav-item {
      padding-left: 15px;
      padding-right: 15px;

      &:hover {
        text-decoration: none;
      }

      .nav-link {
        font-weight: bold;
        color: #211d51;

        &:hover {
          text-decoration: none;
        }
      }

      &.active {
        background-color: #211d51;

        .nav-link {
          color: white;

          &:hover {
            text-decoration: none;
            background-color: #eee;
            color: #211d51;
          }
        }

        &:hover {
          background-color: #eee;
        }
      }
    }
  }
}

// footer
footer {
    width: 100%;

    .top-footer {
        background-color: #211d51;
        width: 100%;
        margin: 0 auto;
        color: white;
        padding: 15px 50px;
    }

    .bottom-footer {
        width: 100%;
        background-color: #004592;
        margin: 0 auto;
        color: white;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    a {
        color: white;

        &:hover {
            color: white;
            text-decoration: underline;
        }
    }

    .right-col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        .back-to-top {
            display: block;

            a:hover {
                text-decoration: none;
            }
        }
    }

    .footer-contact-icon {
        display: inline-block;
        width: 20px;
        vertical-align: top;
        text-align: right;
    }

    .footer-contact-text {
        display: inline-block;
        vertical-align: top;
    }
}

// Carousel
.carousel-image-caption {
    z-index: 10;
    position: absolute;
    bottom: 10px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    background-color: black;
    opacity: 0.8;
    font-size: 21px;
    line-height: 1.4;
    padding: 5px 10px;
}

// Misc
.required {
    color: $red;
}

.bg-aau {
  background-color: #211d51 !important;
}

.text-aau {
    color: #211d51;
}

.narrow-hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.edit-link-white {
    color: white;
    text-decoration: none;

    &:hover {
        color: white;
        text-decoration: none;
    }
}
